$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  opacity: 0.9;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  //  max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}





/*=============Profile Page================*/
.header{
//  background-color: black;
  color: white;
}
.main-container{
  padding: 0px 0px 0px 0px;
  font-family: segoe ui;
}
.profile-pic-box{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ECECEC;
  border: 1px solid #B5B3B3;
  text-align: center;
}
.summary-box{
  background-color: white;
  border: 1px solid #B5B3B3;
  border-left: none;
  border-right: none;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}
#profile-username{
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 20px;
}
#profile-usertype{
  font-weight: 700;
  color: gray;
  padding-bottom: 10px;
}
.summary-box-middle{
  border: 1px solid #B5B3B3;
}
#profile-problem-count, #profile-comment-count, #profile-solution-count{
  font-weight: 700;
  font-size: 15px;
}
.profile-reputation-area{
  padding-top: 20px;
}
.profile-reputation-area .glyphicon-tower{
  padding: 5px 0px 0px 35px;
  font-size: 25px;
  color: darkgoldenrod;
}
.profile-reputation-area .text{
  padding: 13px 5px 0px 0px;
}
#profile-reputation-count{
  font-size: 25px;
  padding-left: 20px;
}
.profile-nav{
//  background: black;
}
.profile-nav li a{
  border-radius: 0px;
}
.profile-nav .profile-active{
  border-radius: 0px;
  background: #8C8CA5;
}
.profile-nav a{
  color: white;
}
.profile-nav li a:hover{
  background-color: #A09E9E;
}
.profile-detail-container{
  padding-top: 20px;

}
#profile-content-title{
  padding: 15px 0px 15px 70px;
  font-size: 20px;
  font-weight: 500;
}
.profile-detail-title-container div{
  padding: 7px;
  color: #5A5A5A;
  font-weight: 600;
}
.profile-detail-container div{
  padding: 7px;
}
.profile-detail-container .col-xs-2, .profile-detail-container .col-xs-9{
  padding-right: 0px;
  padding-left: 0px;
}
.profile-detail-container .gray-area{
  background: #EFECEC;
}
.profile-detail-container table tbody tr{
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}
.profile-detail-container table tbody tr td{
  border:none;
  padding: 12px 5px 12px 5px;
  font-size: 15px;
}
.profile-detail-container a:hover{
  text-decoration: none;
  color: blue
}
.profile-detail-container .glyphicon-question-sign, .glyphicon-ok-sign, .glyphicon-comment, .glyphicon-tower {
  font-size: 25px;

  padding-bottom: 30px;
}

.glyphicon-question-sign{
  color: lighten(#ff0000, 20%)
}

.glyphicon-ok-sign{
  color: lighten(green, 20%)
}

.glyphicon-comment{
  color: lighten(blue, 20%)
}
.glyphicon-tower{
  color: lighten(orange, 5%)
}

#problem-desc{
  font-weight: 500;
  height: 3em;
  text-overflow: ellipsis;
  overflow: hidden
}
#problem-date, #problem-tags{
  font-size: 11px;
  font-weight: 500;
  color: gray;
}
.greencol{
  color: chartreuse;
}
.badge{
  font-size: 9px;
}
#problem-tags .badge{
  border:1px solid gray;
}
.profile-detail-container a .badge:hover{
  color: gray;
  background: lighten(gray, 20%)
}
.profile-count-box{
  font-size: 9px;
  text-align: center;
  border: 1px solid #D8D8D8;
  margin: 5px;
}


#circle-container{
  width:100px;
  height:100px;
  padding-top: 20px;
}
.quarter{
  width:50px;
  height:50px
}
.top-left{
  border-top-left-radius:50px;
  background:#09f;
  float:left
}
.top-right{
  border-top-right-radius:50px;
  background:#666;
  float:right
}
.bottom-left{
  border-bottom-left-radius:50px;
  background:#aaa;
  float:left
}
.bottom-right{
  border-bottom-right-radius:50px;
  background:#333;
  float:right


}

/*=============grow================*/
.grow {
  display:inline-block;
  border:0;
  width:20px;
  height:20px;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.grow:hover {

  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.25);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.25);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.25);
  transition: all 200ms ease-in;
  transform: scale(1.25);
}


/*=============Main Paage Css ================*/
body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.facebook-share-box {
  width: 100%;
}
.facebook-share-box .share {
  -webkit-transition: 0.1s ease-out height;
  -moz-transition: 0.1s ease-out height;
  -ms-transition: 0.1s ease-out height;
  -o-transition: 0.1s ease-out height;
  transition: 0.1s ease-out height;
  clear: both;
  background: white;
  border: 2px solid #dddddd;
  margin-bottom: 10px;
  position: relative;
}

.facebook-share-box .share .arrow {
  background: url(arrow.png) no-repeat #dddddd;
  position: absolute;
  width: 14px;
  height: 10px;
  left: 4px;
  display: inline;
  top: -10px;
  -webkit-transition: 0.3s ease-out all;
  -moz-transition: 0.3s ease-out all;
  -ms-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.facebook-share-box .post-types li a {
  color: #085083;
  text-decoration: none;
}

.facebook-share-box .post-types li a.active {
  color: #404040;
}

.facebook-share-box .post-types {
  padding-left: 5px;
}

.facebook-share-box ul {
  list-style: none;
  margin-bottom: 9px;
}

.facebook-share-box .post-types li {
  display: inline;
  margin-right: 10px;
}

.message {
  border-radius: 0;
  border: none;
}
.panel {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.privacy-dropdown {
  width: 100px;
}
#status_box{
  top: 44px;
  width: 40%;
  right: 0px;
  position: fixed;
  z-index: 2000;
}

.brand-top{
  margin-top: 10px;
}
.nav-tabs{
  cursor: pointer;
}


#customBtn {
  display: inline-block;
  background: #F44336;
  color: white;
  width: 175px;
  border-radius: 5px;
  white-space: nowrap;
  border: 1px solid transparent;
}

#customBtn:hover{
  background-color: #d13c31;
  border: 1px solid #be3c31;
}

#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-weight: bold;
}
span.icon {
  display: inline-block;
  vertical-align: middle;
  text-align:center;
  padding-top:8px;
  width: 40px;
  height: 32px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-right: 42px;
  font-size: 14px;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

#gSignInWrapper{
  margin-left: -29px;
}

