
<div ng-controller="FeedCtrl">
<div class="row">
<div class="col-lg-3 col-sm-3">
</div>
<div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                        <span class="widget-caption">Basic Form</span>
                    </div>
                    <div class="widget-body">
                        <div>
                            <form role="form">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Post here</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                               
                            
                                <button type="submit" class="btn btn-blue pull-right">Submit</button>
                               <div><br><br></div>
                            </form>
                        </div>
                    </div>
                </div>
</div>
<div class="col-lg-3 col-sm-3">
</div>
</div>
<div class="row">
<div class="col-lg-2 col-sm-3">
</div>
<div class="col-lg-8 col-sm-8 col-xs-12" >
 
    <div class="well" ng-repeat="post in json">
     <p>
  
     <div class="row">
        <div class="col-sm-3">
        <div class="row">
        <img class="[ img-rounded pull-left ]" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg" alt="Mouse0270" width="100px" height="100px" style="padding-left: 12px; padding-top: 4px" />
        </div>
        <div>
            {{post["display_name"]}}
        </div>


        <div ng-controller="FeedTagCtrl" ng-init="postid=post['post_id']">
        <span  ng-repeat="i in tag">
        <span class="label label-success">
        {{i['tag_name']}}
        <span>
        </span>
       
        </div>
        </div>


        <div class="col-lg-8 col-sm-8">
        <h3 tyle="font-size:20px">{{post["title"]}}</h3>
        <h5><span>{{ post["created_date"]}}</span> </h5>
        
             <p style="text-justify: distribute">{{post["content"].split(" ").slice(0,50).join(" ")}}<a href="#">[continue reading…]</a></p>


             <div class="pull-right">
                    <span  style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-comment-o"></i> {{post['comment_count']}}</span>
                    <span style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-thumbs-o-up"></i> {{post['upvote_count']}}</span>
                    <span style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-thumbs-o-down"></i> {{post['downvote_count']}}</span>
                  </div>
       
        </div>
    </div>
    </p>
        
    <p>
   
    </p>

<p>
</p>

    </div>
</div>

<div class="col-lg-2 col-sm-3">

</div>
</div>
</div>