<div ng-controller="PostCtrl">
<div class="row">

<div class="col-lg-2 col-sm-2">
</div>
</div>
<div class="row">
<div class="col-lg-2 col-sm-2">
</div>
<div class="col-lg-7 col-sm-7 col-xs-12" >
 
 <div class="well">
     <p>
  
     <div class="row">
        <div class="col-sm-3">
        <div class="row">
        <img class="[ img-rounded pull-left ]" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg" alt="Mouse0270" width="100px" height="100px" style="padding-left: 12px; padding-top: 4px" />
        </div>
        <div>
            {{json["display_name"]}}
        </div>



       <div ng-controller="FeedTagCtrl" ng-init="postid=json['post_id']">
        <span  ng-repeat="i in tag">
        <span class="label label-primary">
        {{i['tag_name']}}
        <span>
        </span>
       
        </div>
        
       
        <div>
            <i class="fa fa-chevron-up fa-3x" ng-click="upVote()" ng-disabled="button_clicked"></i>
        </div>
        <div style="font-size:20px;">
            &nbsp;{{votemagnitude}}
        </div>
        <div>
            <i class="fa fa-chevron-down fa-3x"ng-click="downVote()" ng-disabled="button_clicked"></i>
        </div>
       
     
        </div> 

 

        <div class="col-lg-8 col-sm-8">
        <h3 tyle="font-size:20px">{{json["title"]}}</h3>
        
        <h5><span>{{json["created_date"]}}</span> </h5>
        
             <p style="text-justify: distribute">{{json["content"]}}</a></p>


             <div class="pull-right">
                    <span  style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-comment-o"></i> {{json['comment_count']}}</span>
                    <span style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-thumbs-o-up"></i> {{json['upvote_count']}}</span>
                    <span style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-thumbs-o-down"></i> {{json['downvote_count']}}</span>
                  </div>
       
        </div>
       
    </div>
     <div class="row"></div>
     <br>
     
    <div class="row">
           
                      <div ng-controller="CommentsCtrl">
                            <form class="form-horizontal form-bordered" role="form">
                              
                                <div class="form-group">
                                    <div class="`col-sm-2">
                                    <img class="[ img-rounded pull-left ]" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg" alt="Mouse0270" width="60px" height="40px" style="padding-left: 16px; padding-top: 4px" />  
                                    </div>
                                    <div class="col-sm-10">
                                       
                                          <textarea  msd-elastic  class="form-control input-lg" id="content" placeholder="Whats your opinion"..  ng-model="content">
                                          </textarea>
                                    </div>

                                </div>
                                <div class="form-group" style="width">
                                    <div class="col-sm-10">
                                        
                                    {{content}}
                                        <button ng-click="postComment()" class="btn btn-primary pull-right">Post</button>
                                        
                                    </div>
                                </div>
                            </form>
                        
                
                
                        </div>
</div>
    </p>
        
    <p>
   
    </p>
</p>


<p>
    </div>
</div>



</p>

</div>
</div>
</div>