.landing-img-bar{
    height: 310px;
    background-size: 80%;
    margin-left: 0px;
    background-image: url('../img/landing-back.jpg');
}

.landing-auth{
    background: #ffffff;
    height: 310px;
}
.loginbox-title{
    font-family: 'Lucida Sans','trebuchet MS',Arial,Helvetica;
    font-size: 20px;
    font-weight: normal;
    color: #444;
    text-align: center;
    margin-top: 10px;
}

.social-buttons{
    margin-top: 5px;
}

.button-facebook {
    float: left;
    border: 2px solid #3b5998;
    color: #3b5998;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: #fff;
    text-align: center;
    margin-left: 15px;
}

.button-google {
    float: left;
    border: 2px solid #980307;
    color: #a80202;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
}

.button-facebook i {
    font-size: 26px;
    line-height: 50px;
}

.button-google i {
    font-size: 26px;
    line-height: 50px;
}

.social-title{
    font-size: 14px;
    font-weight: 500;
    color: #a9a9a9;
    text-align: center;
}

.loginbox-or {
    position: relative;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}

.or-line {
    position: absolute;
    height: 1px;
    top: 10px;
    left: 40px;
    right: 40px;
    background-color: #ccc;
}

.or {
    position: absolute;
    top: 0;
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 20px;
    background-color: #fff;
    color: #999;
    margin: 0 auto;
}

.loginbox-textbox{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
}

.loginbox-forgot{
    margin-top: 10px;
}

.loginbox-signup{
    margin-top: 10px;
}

.loginbox-submit{
    width: 95%;
    margin: 0 auto;
}

.landing-bottom{
    background: #dcdcdc;
    padding-bottom: 5px;
}

.landing-bottom-head{
    margin-top: 10px;
}

.landing-bottom-left{

}


.landing-block{
    border: 1px solid #0072C6;
    /*border-radius: 10px;*/
    height: 100px;
    margin-top: 10px;
}

.block-head{
    height: 60px;
}

.block-bottom{
    background: #0072C6;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    margin-left: 0px;
    margin-right: 0px;
    height: 40px;
}

.landing-block-icon{
    color: white;
}

.landing-block-number{
    font-size: 4em;
    text-align: right;
    color: #0072c6;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 5px;
}

.block-title{
    font-size: 1.3em;
    text-transform: uppercase;
    margin-top: 7px;
    font-weight: 100;
}

.landing-box-text{
    text-align: right;
}

.landing-bottom-tail{
    margin-top: 10px;
    height: 200px;
}

.featured-header{
    background: white;
    border-left: 3px solid #0072C6;
}

.my-post{
    margin-top: 20px;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}

.featured-container{
    margin-top: 5px;
    height: 295px;
    overflow-x: hidden;
    overflow-y: auto;
}


.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}

.rights-now-logo{
    height: 120px;
    background: url("../img/rightnow.png");
    width: 80%;
}

.footer-distributed .footer-icons a:hover {
    background: blue;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}


.post-count span:hover{
    color: #0072C6;
    cursor: pointer;
}

.login-area .dropdown-toggle i{
    color: white;
    margin-left: 5px;
}


.more-action-drop-down{
    margin-left: 10px;
    color: white;
}

#title{
    margin-bottom: 5px;
}

#content{
    resize: none;
}

.btn-darkblue{
    background-color: #0072c6 !important;
    border-color: #0072c6;
    color: #fff;
}

.btn-darkblue:focus {
    background-color: #0072c6 !important;
    border-color: #043fa3;
    color: #fff;
}

.btn-darkblue:hover {
    background-color: #0088e8 !important;
    border-color: #0088e8;
    color: #fff;
}