<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row"> <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Posts</a></li>
        <li class="active">Sample post heading</li>
      </ol>
    </div>
    <div class="row">
      <h2 id="topic">Sample post heading</h2>
    </div>
    <div class="row">
      <div class="col-lg-1">
        <div class="vote"><span class="glyphicon glyphicon-chevron-up"></span></div>
        <div class="vote-number"><h2>23</h2></div>
        <div class="vote"><span class="glyphicon glyphicon-chevron-down"></span></div>
        <br>
        <div class="vote">
          <h4><span class="glyphicon glyphicon-heart"></span></h4>
        </div>
      </div>
      <div class="col-lg-8"><!-- image-->
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="images/1.jpg" alt="...">
              <div class="carousel-caption">
                Sample text number one
              </div>
            </div>
            <div class="item">
              <img src="images/2.jpg" alt="...">
              <div class="carousel-caption">
                Sample text number two
              </div>
            </div>
            <div class="item">
              <img src="images/3.jpg" alt="...">
              <div class="carousel-caption">
                Sample text number three
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div id="post-data" class="col-lg-3">
        <div class="post-data"> <!-- post owner -->
          <span class="glyphicon glyphicon-user"></span> Posted by
          <a href="#">Sample User</a>
        </div>
        <div class="post-data"><!-- posted date -->
          <span class="glyphicon glyphicon-calendar"></span> Wednesday, 16 September 2015

        </div>
        <div class="post-data last"> <!-- posted date -->
          <span class="glyphicon glyphicon-time"></span> 8:29 AM

        </div>
        <div>
          <label class="label label-success">Sample Tag</label><label class="label label-success">Sample</label>
          <label class="label label-success">Sample</label><label class="label label-success">Tag</label>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <form action="" method="get">
        <textarea id="cmnt-box" class="form-control" name="cmnt"></textarea><br>
        <input type="button" class="btn pull-right btn-primary" value="Add Answer">
      </form>
    </div>
    <div class="col-md-4"></div>
    </div>
<br/>


<div class="col-md-8 col-md-offset-1">


  <div class="list-group">
    <!-- row 1-->
    <div class="row list-group-item">
      <div id = "post">
        <div class = "col-lg-2">
          <div class = "row">
            <div id="circle-container">
              <div class="quarter top-left" style="color:white; padding-top:16px; padding-left:16px">
                <div style="font-size:16px;">2.2k</div>
                <i style="position: absolute; bottom: 31px; left: 19px; font-size:11px">votes</i>
              </div>
              <div class="quarter bottom-right" style="color:white; padding-top:15px; padding-left:15px">
                <i style="position: absolute; bottom: 65px; left: 54px; font-size:11px">answers</i>
                <div style="font-size:16px;">3</div>
              </div>
              <div style="padding-top: 46px;"><h4><span class="label label-success">  Solved</span></h4></div>
            </div>
          </div>
        </div>
        <div class = "col-lg-10">
          <div id = "post-head">
            <a href="#"><h4>Anim pariatur cliche reprehenderit high life accusamus terry richardson ad squid.</h4></a>
          </div>
          <div id = "post-cont">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod...<a href= "#">View More</a>
          </div>
          <div class = "col-lg-8-offset col-lg-4 pull-right">
            <div class = "row pull-left"><small> March 5th, 2014 at 12:56 PM</small>
              <div class = "col-lg-6 pull-left"><a href="#">User </a><span class = "badge">6.3</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-bottom : -5px">
    <div class="row list-group-item">
      <div id = "post">
        <div class = "col-lg-2">
          <div class = "row">
            <div id="circle-container">
              <div class="quarter top-left" style="color:white; padding-top:16px; padding-left:16px">
                <div style="font-size:16px;">2.2k</div>
                <i style="position: absolute; bottom: 31px; left: 19px; font-size:11px">votes</i>
              </div>
              <div class="quarter bottom-right" style="color:white; padding-top:15px; padding-left:15px">
                <i style="position: absolute; bottom: 65px; left: 54px; font-size:11px">answers</i>
                <div style="font-size:16px;">3</div>
              </div>
              <div style="padding-top: 46px;"><h4><span class="label label-success">  Solved</span></h4></div>
            </div>
          </div>
        </div>
        <div class = "col-lg-10">
          <div id = "post-head">
            <a href="#"><h4>Anim pariatur cliche reprehenderit high life accusamus terry richardson ad squid.</h4></a>
          </div>
          <div id = "post-cont">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod...<a href= "#">View More</a>
          </div>
          <div class = "col-lg-8-offset col-lg-4 pull-right">
            <div class = "row pull-left"><small> March 5th, 2014 at 12:56 PM</small>
              <div class = "col-lg-6 pull-left"><a href="#">User </a><span class = "badge">6.3</span></div>
            </div>
          </div>
          <div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span></div>


        </div>
      </div>
    </div>

    <hr style="margin-bottom : -5px">
    <div class="row list-group-item">
      <div id = "post">
        <div class = "col-lg-2">
          <div class = "row">
            <div id="circle-container">
              <div class="quarter top-left" style="color:white; padding-top:16px; padding-left:16px">
                <div style="font-size:16px;">2.2k</div>
                <i style="position: absolute; bottom: 31px; left: 19px; font-size:11px">votes</i>
              </div>
              <div class="quarter bottom-right" style="color:white; padding-top:15px; padding-left:15px">
                <i style="position: absolute; bottom: 65px; left: 54px; font-size:11px">answers</i>
                <div style="font-size:16px;">3</div>
              </div>
              <div style="padding-top: 46px;"><h4><span class="label label-success">  Solved</span></h4></div>
            </div>
          </div>
        </div>
        <div class = "col-lg-10">
          <div id = "post-head">
            <a href="#"><h4>Anim pariatur cliche reprehenderit high life accusamus terry richardson ad squid.</h4></a>
          </div>
          <div id = "post-cont">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod...<a href= "#">View More</a>
          </div>
          <div class = "col-lg-8-offset col-lg-4 pull-right">
            <div class = "row pull-left"><small> March 5th, 2014 at 12:56 PM</small>
              <div class = "col-lg-6 pull-left"><a href="#">User </a><span class = "badge">6.3</span></div>
            </div>
          </div>
          <div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span></div>


        </div>
      </div>
    </div>
  </div>

</div>
    <div class="col-md-4"></div>


  </div>

</div>
