
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="images/Sadisi.png" class="img-responsive" width="150" height="150" style="background-color: grey;border-radius: 5px;margin-top: 15px;">
    </div>
    <div class="col-md-10">
      <h2>Receiving and processing complaints from citizens</h2>
      <h5>
        Citizens often don’t report violations or complaints to authorities because they
        don’t have access to institutions. How can we change this? Can we create an e-complaint center,
        where citizens can submit violations and complaints, and an organisation can systematically go through them,
        following up and resolving them by liaising with authorities on behalf of the citizens?
      </h5>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-offset-3 col-md-3">
      <img src="images/hexmatter.png" style="width: 50%">
    </div>
    <div class="col-md-2">
      <img src="images/samabima.jpg" style="width: 50%">
    </div>
    <div class="col-md-2">
      <img src="images/rush.png" style="width: 80%">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default" style="height: 240px">
        <div class="panel-heading">
          <h3 class="panel-title">Location Map</h3>
        </div>
        <div class="panel-body" id="map-contact" style="height: 200px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.991118225384!2d79.88831640000002!3d6.891664900000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25a414cc7d64d%3A0x19dc13345d002eb7!2sNawala+Rd%2C+Sri+Jayawardenepura+Kotte!5e0!3m2!1sen!2slk!4v1442661825501" width="750" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="glyphicon glyphicon-map-marker"> </i> Our Office</h3>
        </div>
        <div class="panel-body">
          <div>
            #24/13 Wijayaba Mawatha <br>
            Nawala Road <br>
            Nugegoda
          </div>
          <br>
          <div><i class="glyphicon glyphicon-phone-alt"></i> 0094-11-2822375</div>
          <div><i class="glyphicon glyphicon-phone-alt"></i> 0094-11-2822376</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact Us</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="subject">Subject:</label>
              <input type="text" class="form-control" id="subject">
            </div>
            <div class="form-group">
              <label for="details">Description:</label>
              <textarea style="resize: none;" cols="20" rows="10" class="form-control" id="details"></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
