<div class="row">
  <div class="col-md-6">
    <h1>Approval Required Posts (23)</h1>
  </div>
</div>

<div id="admin-approve">
  <table class="table">
    <thead>
    <tr>
      <th style="width: 10%;">Post ID</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th>Approve</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1234</td>
      <td>Seemingly illegal construction going on in Panadura town</td>
      <td>There is a mass construction going on in the heart of Panadura down, near the statue of lord Buddha. However, it had caused to block and damage the drainage system in the area, causing overflowing during rainy days.
        I'm not sure if that is an illegal construction, but it clearly seems...</td>
      <td><a href="#">View Post</a></td>
      <td><a href="#"><i class="fa fa-check fa-2x"></i></a></td>
    </tr>
    <tr>
      <td>1545</td>
      <td>Seemingly illegal construction going on in Panadura town</td>
      <td>There is a mass construction going on in the heart of Panadura down, near the statue of lord Buddha. However, it had caused to block and damage the drainage system in the area, causing overflowing during rainy days.
        I'm not sure if that is an illegal construction, but it clearly seems...</td>
      <td><a href="#">View Post</a></td>
      <td><a href="#"><i class="fa fa-check fa-2x"></i></a></td>
    </tr>
    </tbody>
  </table>
</div>
