<div class="row">


  <div class="col-md-3 admin-item">
    <div class="admin-item-head bg_red">
    <div class="col-lg-4">
      <i class="fa fa-sticky-note-o fa-4x"></i>
    </div>
    <div class="col-lg-8 remove-left">
      <div class="pull-left">
      </div>
      <div class="pull-left count-number"><h1>120</h1></div>
      <div class="pull-left admin-item-title"><h5>Approval Requiered</h5></div>
    </div>
    </div>
  </div>


  <div class="col-md-3 admin-item">
    <div class="admin-item-head bg_green">
      <div class="col-lg-4">
        <i class="fa fa-check fa-4x"></i>
      </div>
      <div class="col-lg-8 remove-left">
        <div class="pull-left">
        </div>
        <div class="pull-left count-number"><h1>50</h1></div>
        <div class="pull-left admin-item-title"><h5>Solved Issues</h5></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 admin-item">
    <div class="admin-item-head bg_orange">
      <div class="col-lg-4">
        <i class="fa fa-sticky-note-o fa-4x"></i>
      </div>
      <div class="col-lg-8 remove-left">
        <div class="pull-left">
        </div>
        <div class="pull-left count-number"><h1>10</h1></div>
        <div class="pull-left admin-item-title"><h5>Tag Requests</h5></div>
      </div>
    </div>
  </div>

  <div class="col-md-3 admin-item">
    <div class="admin-item-head bg_blue">
      <div class="col-lg-4">
        <i class="fa fa-users fa-4x"></i>
      </div>
      <div class="col-lg-8 remove-left">
        <div class="pull-left">
        </div>
        <div class="pull-left count-number"><h1>12</h1></div>
        <div class="pull-left admin-item-title"><h5>Users</h5></div>
      </div>
    </div>
  </div>

</div>
