<style media="screen">
body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.facebook-share-box {
  width: 100%;
}
.facebook-share-box .share {
  -webkit-transition: 0.1s ease-out height;
  -moz-transition: 0.1s ease-out height;
  -ms-transition: 0.1s ease-out height;
  -o-transition: 0.1s ease-out height;
  transition: 0.1s ease-out height;
  clear: both;
  background: white;
  border: 2px solid #dddddd;
  margin-bottom: 10px;
  position: relative;
}

.facebook-share-box .share .arrow {
  background: url(arrow.png) no-repeat #dddddd;
  position: absolute;
  width: 14px;
  height: 10px;
  left: 4px;
  display: inline;
  top: -10px;
  -webkit-transition: 0.3s ease-out all;
  -moz-transition: 0.3s ease-out all;
  -ms-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.facebook-share-box .post-types li a {
  color: #085083;
  text-decoration: none;
}

.facebook-share-box .post-types li a.active {
  color: #404040;
}

.facebook-share-box .post-types {
  padding-left: 5px;
}

.facebook-share-box ul {
  list-style: none;
  margin-bottom: 9px;
}

.facebook-share-box .post-types li {
  display: inline;
  margin-right: 10px;
}

.message {
  border-radius: 0;
  border: none;
}
.panel {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.privacy-dropdown {
  width: 100px;
}

#status_box{
  top: 44px;
  width: 40%;
  right: 0px;
  position: fixed;
  z-index: 2000;
}
</style>
<script type="text/javascript">
$('#status_message').autogrow();
</script>
<div ng-controller="post">
<form ng-submit='postdata()' style="display:none" id="status_box"  method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
  <ul class="post-types">
  </ul>
  <div class="share">
    <div class="panel panel-default">
      <div class="panel-heading">Start a Discussion </div>
      <div class="panel-body">
        <input type="text" class="form-control message" placeholder="Title" ng-model="title" required></input>
        <div class="">
          <textarea name="message" ng-model="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?" required></textarea>
        </div>
        <div>
         <div>
         <input type="text" class="form-control message" placeholder="Tags" ng-model="tags1" required></input>
          <tags-input ng-model="tags"></tags-input>
         
        
        <div>

        </div>

      </div>


      <div class="panel-footer">
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <div class="btn-group" >
                <button type="button" class="btn btn-default"><i class="fa fa-map-marker"></i> Location</button>
                <button type="button" class="btn btn-default" ng-click='postdata()'><i class="fa fa-picture-o"></i> Attachment</button>
                <label style="padding-left: 30px; vertical-align: -webkit-baseline-middle;" class="checkbox-inline">
                <input type="checkbox" ng-model='anonymouse'  value="a">Post as annonymous </label>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="text-align:right">
            <div class="form-group" >
              <input type="submit"  name="submit" value="Post" class="btn btn-primary" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
<div class="row" style="    margin-left: 14px;
    margin-right: 14px;">

      <div class="panel">
        <div class="panel-body">
          <div class="col-md-3">
                      <img src="images/samabima.jpg" alt="Samabima" width="200px">
          </div>
          <div class="col-md-9">
            <h1 class="page-header">සමබිම සන්හිද<small></small></h1>
            <h3>Get addicted to Democracy</h3>
          </div>
        </div>
      </div>
</div>

<div class="row marketing">
  <div class="col-md-9">
    <div class="list-group">
      <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <div ng-repeat='image in images'>
          <div ng-repeat='data in json'>
            <div class="[ panel panel-default ] panel-google-plus"  style="border-bottom: 1px solid #D7D7D7; margin-bottom:10px;
            padding-top: 7px; padding-left: 17px;">
              <div class="">
                <div class="col-md-3">
                  <div class="row">
                    <img class="[ img-rounded pull-left ]" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg" alt="Mouse0270" width="100px" height="100px" style="padding-right: 10px; padding-top: 10px" />
                  </div>
                  <div class="row">
                    <h4>{{data["display_name"]}}</h4>
                  </div>
                  <div class="row">
                    <span class="label label-success" style="width: 10px; margin-right:1px" ng-repeat="t in tags[data['post_id']]" > {{t['tag_name']}}</span>
                    &nbsp;&nbsp;<br>
                  </div>
                </div>
                <div class="col-md-9">
                  <h2 style="font-size:20px">{{data["title"]}}</h2>
                  <h5><span>{{ data["created_date"].split(" ")[0]+"T"+data["created_date"].split(" ")[1]|date:'MM/dd/yyyy @ h:mma'}} </span> </h5>
                  <br/>
                </div>
              </div>
              <div class="panel-body">
                <div class="col-md-4"></div>
                <div class="col-md-9" style="color:#858484;">
                  <p style="text-justify: distribute">{{data["content"].split(" ").slice(0,50).join(" ")}}<a href="#">[continue reading…]</a></p>
                  <div class="pull-right">
                    <span  style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-comment-o"></i> {{data['comment_count']}}</span>
                    <span style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-thumbs-o-up"></i> {{data['upvote_count']}}</span>
                    <span style="margin-right:5px; font-size:16px"><i style="padding:2px;" class="fa fa-thumbs-o-down"></i> {{data['downvote_count']}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
                <h4>Events</h4>
      </div>
      <div style="border-bottom:1px solid #eee"></div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
