<div class="jumbotron">
  <h1>Talk</h1>
  <p class="lead">
    <img src="images/logo.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <a class="btn btn-social-icon glyphicon glyphicon-road"> </a>
  <a class="btn btn-social-icon glyphicon glyphicon-user"> </a>
  <a class="btn btn-social-icon glyphicon glyphicon glyphicon-camera"> </a>
</div>

<div class="row marketing">




    <div class="list-group">
      <div  infinite-scroll='loadMore()' infinite-scroll-distance='1' class="col-md-8 col-md-offset-1" ng-repeat="val in images">

        <div class="[ panel panel-default ] panel-google-plus">
          <div class="dropdown">

            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>

          <div class="">
            <div class="col-md-4">
              <img class="[ img-rounded pull-left ]" src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg" alt="Mouse0270" width="100px" height="100px" style="padding-right: 10px; padding-top: 10px" />
              <h3>අරුණ ජයවර්ධන  ජයවර්ධන</h3>
            </div>
            <div class="col-md-8">
              <h2>සෞම්‍ය යෝජනාවක් ඒකමතිකව සම්මත වේවි -නීතිඥ සුදර්ශන ගුණවර්ධන</h2>
              <h5><span>Jun 27, 2014</span> </h5>
              <br/>
            </div>



          </div>
          <div class="panel-body">
            <div class="col-md-4"></div>
            <div class="col-md-8">

              <p style="text-justify: distribute">ලංකාව සම්බන්ධයෙන් පසුගිය කාලේ ජාත්‍යන්තර වේදිකාවේ තිබුණු මතය සෑහෙන්න වෙනස්වෙලා තිබෙන බවක් පෙනෙනවා. නමුත් ඒකට ඉතිහාසයක් තියෙනවා නේද? යුද්ධය සම්බන්ධයෙන් 1994 දක්වා යම් ප‍්‍රමාණයකට බලපෑමක් ගේන්න උත්සාහ කළාට ඒක සාර්ථක වුණේ නැහැ. 94න් පස්සේ ආපු ආණ්ඩුව මානව හිමිකම් හිතවාදී ප‍්‍රතිපත්තියක් තමයි ගෙනිච්චේ. විවිධ ජාත්‍යන්තර සම්මුතිවලට අත්සන් කරලා එහෙම මානව හිමිකම් වාර්තාවත් හොඳ කරගත්තා. ඒ නිසා</p>
            </div>

          </div>
          <div class="panel-footer">


            <!--<button type="button" class="[ btn btn-default ]">+1</button>
            <button type="button" class="[ btn btn-default ]">
              <span class="[ glyphicon glyphicon-share-alt ]"></span>
            </button>
            <div class="input-placeholder">Add a comment...</div>-->
          </div>

        </div>

      </div>

    </div>


  <div class="col-md-4"></div>

</div>
