<div class="row main-container">

  <div class="col-md-3 col-lg-2 profile-pic-box">
    <img class="img-thumbnail" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
    <div class="row" id="profile-username">Vihanga Liyanage</div>
    <div class="row" id="profile-usertype">Modarator user</div>
    <div class="row">
      <div class="col-xs-4 summary-box">
        <div id="profile-problem-count">34</div>
        Problems
      </div>
      <div class="col-xs-4 summary-box summary-box-middle">
        <div id="profile-comment-count">45</div>
        Comments
      </div>
      <div class="col-xs-4 summary-box">
        <div id="profile-solution-count">21</div>
        Solutions
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 profile-reputation-area">
        <span class="col-xs-3 glyphicon glyphicon-tower" aria-hidden="true"></span>
        <div class="col-xs-4" id="profile-reputation-count">342</div>
        <div class="col-xs-5 text">Reputation</div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-lg-9">
    <div class="row">
      <div class="col-md-12" id="myTabs">
        <ul class="nav nav-tabs " role="tablist" id="myTabs">
          <li class="active">
            <a href="#profile-basic-info" role="tab" data-toggle="tab">Profile</a>
          </li>
          <li>
            <a href="#profile-problems-info" role="tab" data-toggle="tab">Problems</a>
          </li>
          <li>
            <a href="#profile-comments-info" role="tab" data-toggle="tab">Comments</a>
          </li>
          <li>
            <a href="#profile-reputation-info" role="tab" data-toggle="tab">Reputation</a>
          </li>
          <li>
            <a href="" role="tab" data-toggle="tab">Tags</a>
          </li>
          <li>
            <a href="#" role="tab" data-toggle="tab">Badges</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row profile-detail-container tab-content">
      <div id="profile-basic-info" class="tab-pane fade active in">
        <!--Basic Info-->
        <div id="profile-content-title">Basic Information</div>
        <div class="col-xs-2 col-md-offset-1 profile-detail-title-container">
          <div>
            <span class="col-xs-3 glyphicon glyphicon-user" aria-hidden="true"></span>
            Full name {{talk}}
          </div>
          <div class="gray-area">
            <span class="col-xs-3 glyphicon glyphicon-envelope" aria-hidden="true"></span>
            Email
          </div>
          <div>
            <span class="col-xs-3 glyphicon glyphicon-home" aria-hidden="true"></span>
            Location
          </div>
          <div class="gray-area">
            <span class="col-xs-3 glyphicon glyphicon-phone" aria-hidden="true"></span>
            Contact
          </div>
          <div>
            <span class="col-xs-3 glyphicon glyphicon-heart" aria-hidden="true"></span>
            Bio
          </div>
        </div>
        <div class="col-xs-9 profile-detail-container">
          <div>Dinuka Wanasinghe</div>
          <div class="gray-area">d21@gmail.com</div>
          <div>Panadura, Sri Lanka</div>
          <div class="gray-area">+94 71 9844556</div>
          <div>
            <p>Rolando Cruz is a native of Mexico City and has lived in Portland, Oregon since 1996. Since 2008, Rolando has been District Executive for Hispanic Outreach and responsible for the Soccer and Scouting program at the Boy Scouts of America in Portland. His bi-cultural background and focus on community collaboration has led him to a number of volunteer opportunities and community leadership roles. Rolando received his Bachelor of Science in Communications at Oklahoma Christian University and a Masters in Management and Organizational Leadership at Warner Pacific College in Portland, Oregon.
            </p>
          </div>
        </div>
      </div>
      <div id="profile-problems-info" class="tab-pane fade">
        <!--problems info-->
        <div id="profile-content-title">Posted Problems</div>
        <div class="col-md-offset-1">
          <table>
            <tbody>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
                <div class="col-sm-7 hidden-xs hidden-sm" id="problem-tags">Tags:
                  <a href="#">
                    <span class="badge">Water Board</span>
                  </a>
                  <a href="#">
                    <span class="badge">Road</span>
                  </a>
                </div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge">3</span>
                  Comments
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-solution-count">
                  <span class="badge">0</span>
                  Solutions
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. Well, what to do man, pipes broke. It's called life :p</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
                <div class="col-sm-7 hidden-xs hidden-sm" id="problem-tags">Tags:
                  <a href="#">
                    <span class="badge">Nature</span>
                  </a>
                  <a href="#">
                    <span class="badge">Road</span>
                  </a>
                </div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge">+25</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge">7</span>
                  Comments
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-solution-count">
                  <span class="badge">1</span>
                  Solutions
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. No shit! A pipe? Seriously? Jesus, we're going to hell for this!</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
                <div class="col-sm-7 hidden-xs hidden-sm" id="problem-tags">Tags:
                  <a href="#">
                    <span class="badge">Hell</span>
                  </a>
                  <a href="#">
                    <span class="badge">God</span>
                  </a>
                  <a href="#">
                    <span class="badge">Pipes</span>
                  </a>
                </div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge">-5</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge">3</span>
                  Comments
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-solution-count">
                  <span class="badge">0</span>
                  Solutions
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
                <div class="col-sm-7 hidden-xs hidden-sm" id="problem-tags">Tags:
                  <a href="#">
                    <span class="badge">Water Board</span>
                  </a>
                  <a href="#">
                    <span class="badge">Road</span>
                  </a>
                </div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge">+56</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge">70</span>
                  Comments
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-solution-count">
                  <span class="badge">3</span>
                  Solutions
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
                <div class="col-sm-7 hidden-xs hidden-sm" id="problem-tags">Tags:
                  <a href="#">
                    <span class="badge" title="23 upvotes">Water Board</span>
                  </a>
                  <a href="#">
                    <span class="badge" title="23 upvotes">Road</span>
                  </a>
                </div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge" title="23 upvotes">3</span>
                  Comments
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-solution-count">
                  <span class="badge" title="23 upvotes">0</span>
                  Solutions
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="profile-comments-info" class="tab-pane fade">
        <!--comments info-->
        <div id="profile-content-title">Posted Comments</div>
        <div class="col-md-offset-1">
          <table>
            <tbody>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-comment" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge" title="23 upvotes">3</span>
                  Replies
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-comment" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge" title="23 upvotes">3</span>
                  Replies
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-comment" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge" title="23 upvotes">3</span>
                  Replies
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-comment" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge" title="23 upvotes">3</span>
                  Replies
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-comment" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="problem-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="problem-comment-count">
                  <span class="badge" title="23 upvotes">3</span>
                  Replies
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="profile-reputation-info" class="tab-pane fade">
        <!--reputation info-->
        <div id="profile-content-title">Reputation Earned</div>
        <div class="col-md-offset-1 tab-pane" role="tabpanel">
          <table>
            <tbody>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-tower" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="reputation-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="reputation-count">
                  <span class="badge" title="23 upvotes">+13</span>
                  Reputation
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-tower" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="reputation-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="reputation-count">
                  <span class="badge" title="23 upvotes">+13</span>
                  Reputation
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-tower" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="reputation-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="reputation-count">
                  <span class="badge" title="23 upvotes">+13</span>
                  Reputation
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-tower" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="reputation-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="reputation-count">
                  <span class="badge" title="23 upvotes">+13</span>
                  Reputation
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-xs-1" id="problem-type">
                <span class="col-xs-3 glyphicon glyphicon-tower" aria-hidden="true"></span>
              </td>
              <td class="col-xs-7">
                <a href="#" id="problem-desc" class="col-sm-12">Broken pipe line in panadura area. some dummy data hear...Broken pipe line in panadura area. some dummy data hear... Broken pipe line in panadura area. some dummy data hear...</a>
                <div class="col-sm-3 col-sm-offset-1" id="problem-date">Mar 10, 2015</div>
              </td>
              <td class="hidden-xs  col-xs-4">
                <div class="col-xs-3 profile-count-box" id="reputation-vote-count">
                  <span class="badge" title="23 upvotes">+15</span>
                  Votes
                </div>
                <div class="col-xs-3 profile-count-box" id="reputation-count">
                  <span class="badge" title="23 upvotes">+13</span>
                  Reputation
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
